
@{
    ViewData["Title"] = "AboutAuthur";
}

<h2>Về tác giả</h2>
<h4>Ngô Minh Trung</h4>
<p>Sinh viên khóa 43 chuyên ngành Kỹ thuật phần mềm, trường đại học Cần Thơ.</p>
<p>Học phần: Niên luận cơ sở ngành kỹ thuật phần mềm</p>
<p>Số điện thoại: 0986775750</p>
<p>Địa chỉ: Ninh Kiều, Cần Thơ</p>
<p>Facebook: https://www.facebook.com/ngotrung.m </p>