
@{
    ViewData["Title"] = "Hướng dẫn sử dụng";
}
<h2>Hướng dẫn sử dụng</h2>
<h4>New game</h4>
<p>Bạn click vào chọn độ khó và chọn theo mức độ dễ vừa khó. Sau đó nhấn <b>New Game</b>.</p>
<h4>Load file game</h4>
<p>Click vào chọn file text có đuôi txt có dạng như sau:</p>
<img src="~/images/FileSudoku.JPG" />
<h4>Giải game</h4>
<p>Click chọn vào button <b>Solve</b> để giải game.</p>
<p>Có hai trường hợp xảy ra:</p>
<p>     -   Nếu các số mà bạn đã điền vào phù hợp với luật game thì sẽ có thông báo giải thành công</p>
<p>     -   Nếu các số mà bạn đã điền vào không phù hợp với luật game thì sẽ có thông báo giải không thành công</p>
<h4>Hoàn thành game</h4>
<p>Click chọn vào button <b>Complete</b> để hoàn thành chơi game khi bạn đã điền đủ các ô trống còn lại.</p>
<p>Nếu bạn điền sai luật chương trình sẽ thông báo là bạn giải Sai rồi, nhấn reset để làm lại. Nếu đúng luật thì tất nhiên bạn là người chiến thắng</p>
<h4>Kiểm tra một ô đã nhập có đúng không?</h4>
<p>Để kiểm tra một ô đã nhập đúng với luật chơi hay không bạn nhấn vào button <b>CheckOneCell</b>. Khi đó chương trình sẽ thông báo ô này đúng nếu bạn giải đúng, ngược lại thông báo sai.</p>
<p>Reset game</p>
<p>Để reset lại game với đề ban đầu bạn nhấn vào button <b>Reset Cells</b>. Sau đó chương trình sẽ hiển thị đề ban đầu.</p>
<h4>Gợi ý của game</h4>
<p>Khi bạn nhấn vào một ô trống, chương trình sẽ hiển thị gợi ý các số có thể điền vào ô đó. Bạn có hai cách điền vào ô đó:</p>
<p> - Cách 1: Nhấn trực tiếp ở phần gợi ý.</p>
<p> - Cách 2: Nhấn số ở bàn phím.</p>
<p> <b>Lưu ý:</b> Bạn chỉ được nhập các số từ 1 - 9.</p>
<h4>Lưu trò chơi</h4>
<p>Khi bạn nhấn vào button <b>Save Game</b> chương trình sẽ hỏi bạn nơi lưu trữ và bạn nhấn vào lưu file.</p>

<hr />